*
{
	padding:0;
	margin:0;
	box-sizing: border-box;
}



@font-face
{
  font-family: 'LetsChat', cursive;
  src:url("{static 'fonts/static/GrenzeGotisch-ExtraBold.ttf'}");
}


@font-face
{
  font-family: 'LetsChat1';
  src:url("{static 'fonts/static/GrenzeGotisch-Bold.ttf'}");
}




.header-container
{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  margin-top:-200px;
  transition:all .4s;
  z-index:10;

  background-color:#fff ;
}

.header-container header
{
  margin-top:200px;
  background-color:#fff ;
}

header
{
  display:flex;
  flex-direction: column;
  background-color:#fff ;

  
}

.heading
{
  padding:24px 0 24px 10px;
  box-shadow:0px 0px 23px 0px rgba(0,0,0,0.5);
  z-index:1;
}
.heading #brand
{
  
  color:#00a087;    
  font-weight:bold;
  cursor:pointer;
  font-family:LetsChat;
  font-style: cursive;
  
}




/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .heading #brand {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .heading #brand {
    font-size: 25px;
  }
}


