*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	

}



@font-face
{
  font-family: 'LetsChat', cursive;
  src:url("{static 'fonts/static/GrenzeGotisch-ExtraBold.ttf'}");
}



  



.header-container
{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100%;
  margin-top:-200px;
  transition:all .4s;
  z-index:10;

  background-color:#fff ;
}

.header-container header
{
  margin-top:200px;
  background-color:#fff ;
}

header
{
  display:flex;
  flex-direction: column;
  background-color:#fff ;

  
}

.heading
{
  padding:24px 0 24px 10px;
  box-shadow:0px 0px 23px 0px rgba(0,0,0,0.5);
  z-index:1;
}
.heading #brand
{
  
  color:#00a087;    
  font-weight:bold;
  cursor:pointer;
  font-family:LetsChat;
  font-style: cursive;
  
}




/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .heading #brand {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .heading #brand {
    font-size: 25px;
  }
}



.container-fluid
{
	padding:0;

}



#leftDivSect
{
	width:100%;
	height:100vh;
}

@media (max-width: 1200px){
	#storySectionArea{
		width:80%;
		height:70vh;
	}
}

#storyName{
	font-weight: bold;
}





#storySectionArea
  {
  

}  
#leftDivSect textarea{
	
	align-content: center;
	resize:none;
	border-radius:5px;
	padding:8px;
}

.card1{
	width:250px;
	height:70vh;
	background:grey;
	margin-top:6%;
	border-radius:8px;
	box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
	overflow:hidden;
	
}

#colorOuterDiv{
	padding:8px;
}
/* Color Picker set Background*/
.colorPickerValue{
  width:50px;
  height:50px;
  display:inline-block;
}

.rightSideDiv{
	background:white;
	width:100%;
	height:100vh;
}

#storyPrintSectionArea{
  
   color:white;
   width:250px;
   padding-top:50%;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   padding:12px;
}

#fixedRightIndicatorBar{
		position:fixed;
		/*top:20%;*/
    bottom:0;
		right:0;
    left:0;
		text-align: center;
    padding:2%;
		color:white;
		
		background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
		
}

#mobileScreenTextArea{
	
	display:none;
	
	border:2px solid rgba(0,125,136,1);
  border:none;
  outline:none;
  width:100%;
  padding-top:8px;
  padding-left: 8px;
	
}

#mobilOptionWrapper
{
  display:none;
}
#MobileshareStoryOption{
	
	display:none;
  border:none;
  outline:none;

	
}





@media (max-width: 750px) {

		#leftDivSect{
			display:none;
		}

		#storySectionArea{
			width:80%;
			height:70vh;
			
		}

		


  }


  @media only screen and (max-width: 750px) {
    #fixedRightIndicatorBar
    {
        display: block !important;
    }

    #mobileScreenTextArea{
    	display:block !important;
    }

    #MobileshareStoryOption{
    	display:block !important;	
    }

    #mobilOptionWrapper
    {
     display:block !important;   
    }


}


#alertBar
{
	display:none;

}

.containerWrapperclass {

	position: relative; 
	left: 50%;
	transform: translateX(-50%);
	overflow:hidden;
}

.bottom-left {

  position: absolute;
  bottom: 8px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width:26%;
  color:white;
  padding:8px;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

 @media only screen and (max-width: 1024px) 
 {
	.bottom-left 
	{
		width:60%;
		
	} 	
 }

 #alertBar{
 	border:1px solid red;
 	border-left:5px solid red;
 }


 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}