{%load static%}
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{%static 'images/LetsChat_Icon.png'%}" type="image/x-icon">
  <title>Album</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{%static 'css/album.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'css/customScrollBar.css'%}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'css/selection.css' %}">

</head>

<body id="coverBackground">

  <div class="header-container">
    <header id="header">
      <div class="heading">
        <div class="container">
          <span id="brandSection"><a href="/"><span id="brand">LetsChat</span></a></span>
        </div>
      </div>
    </header>
  </div>

  <br><br><br><br>


  <h5 style="cursor: pointer;color:#00a087;:2%;" data-toggle="modal" data-target="#exampleModal"
    class="float-right mx-4 mt-3"><i class="fas fa-plus-square"><span class="ml-2">Create Album</span></i></h5><br><br>
  <div class="container-fluid">
    <!-- Page Content -->


    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'profle')">Profile</button>
      <button class="tablinks" onclick="openCity(event, 'cover')">Cover</button>
      <button class="tablinks" onclick="openCity(event, 'post')">Post</button>

      <button class="tablinks" onclick="openCity(event, 'others')">myGallery</button>
    </div>

    <div id="profle" class="tabcontent" style="display:block;">

      <div class="container gallerys">

        <div class="row">


          {% for img in profileData %}

          {% if img.media %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-12" style="border:5px solid #F5F5F5;">
            <a href="{{img.media.url}}" target="_blank">
              <img src="{{img.media.url}}" class="img-fluid col-centered">
            </a>
          </div>

          {% endif %}
          {% endfor %}









        </div>
        <!-- /.container -->
      </div>
    </div>

    <div id="cover" class="tabcontent">

      <div class="container gallerys1">
        <div class="row">
          {% for img in coverData %}

          {% if img.media %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-12" style="border:5px solid #F5F5F5;">
            <a href="{{img.media.url}}" target="_blank">
              <img src="{{img.media.url}}" class="img-fluid col-centered">
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="post" class="tabcontent">

      <div class="container gallerys2">
        <div class="row">
          {% for img in photos %}

          {% if img.PostType == 'post' %}
          {%if img.post%}
          <div class="col-lg-3 col-md-4 col-sm-6 col-12" style="border:5px solid #F5F5F5;">
            <a href="{{img.post.url}}" target="_blank">
              <img src="{{img.post.url}}" class="img-fluid col-centered">
            </a>
          </div>
          {%endif%}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="others" class="tabcontent mt-4">
      <span class="container">
        <center>
          <select id="myGallerySelectId" onchange="selectContent()" style="">
            <option>Select Gallery</option>
            {%for gallery in myGallery%}

            <option>{{gallery.albumName}}</option>

            {%endfor%}
          </select>
        </center>

        <br>
        <h3 id="userDefineAlbumContainerSelect"><span id="othersTitleHeading" class=""
            style="text-align:left;border-left:4px solid rgba(0,150,136,0.8);padding-left: 8px;"></span><i
            class="fas fa-edit float-right" onclick="Edit()"></i></h3>

        <br>
        <div>
          <div class="container gallerys3">

            <!-- If image not available -->
            <div style="display: flex;justify-content: center;align-items: center;display:none;color:grey;"
              class="no_Item">
              <center>
                <h1 style="font-size:xx-large;"><i class="far fa-images"
                    style="margin:2%;color:rgba(0,150,136,1);"></i>No item available</h1>
              </center>
            </div>

            <div class="row" id="otherContentDivId">



            </div>
          </div>
        </div>
      </span>
    </div>


  </div>



  <!--Create Album Details-->

  <!-- Modal -->
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="ModalFormBody">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create album</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <label><strong>Album name</strong></label>
          <input type="text" name="albumName" placeholder="Album name" class='form-control' id="createAlbumName"
            oninput="formCreatValidation()">
          <label><strong>Description</strong></label>
          <textarea class="form-control" placeholder="Description" style="resize:none;"
            id="createAlbumDescriprion"></textarea>
          <br>
          <select class="form-control" id="crreatAlbumAccessibility">
            <option>Only me</option>
            <option>My Friends</option>
            <option>Public</option>
          </select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="createAlbum()" id="AlbumFormCreation">Create</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Create Album Modal -->



  <div class="modal " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content" id="modalContentId">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height:50vh;overflow-y: scroll;">

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 col-2 border-right">
              <div>
                <form action="/UploadAlbumImage/" method="Post" enctype="multipart/form-data" id="uploadFormDivId">
                  {%csrf_token%}

                  <a href="#" style="text-decoration: none;" title="My image">
                    <h5 class="mr-2" onclick="functionality('MyImage')"><i class="fas fa-images mr-2"></i>
                      <span class="chooseOption">My image</span></h5>
                  </a>
                  <br>

                  <a href="#" style="text-decoration: none;" title="Select Image">
                    <h5 onclick="fileUpload()"><span class=" fas fa-upload">
                        <span class="chooseOption">Select Image</span>
                        <input type="file" name="theFile" id="albumSelectFileId" hidden />


                      </span></h5>
                  </a>
                  <input type="text" name="repoName" hidden id="hiddenUploadTextBox">

                </form>
                <br>
                <a href="#" style="text-decoration: none;" title="Setting">
                  <h5 onclick="functionality('Setting')">
                    <span><i class="fas fa-cog mr-2"></i>
                      <span class="chooseOption">Setting</span></span>
                  </h5>
                </a>
              </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-10 col-10 border-left">


              <div style="width:100%;" id="myImageId">
                <h4 style="padding-left:8px;color:grey;border-left:4px solid rgba(0,150,136,0.8);">my Image</h4>

                <!-- If image not available -->
                <div style="display: flex;justify-content: center;align-items: center;display:none;color:grey;"
                  class="no_Item">
                  <center>
                    <h1 style="font-size:xx-large;"><i class="far fa-images"
                        style="margin:2%;color:rgba(0,150,136,1);"></i>No item available</h1>
                  </center>
                </div>

                <div id="myImageId1"></div>

              </div>

              <div style="width:100%;display:none;" id="imageUploadId">

                <h4 style="padding-left:8px;color:grey;border-left:4px solid rgba(0,150,136,0.8);">
                  Image Upload
                </h4>
                <img src="" id="imagePlacedID" style="width:100%;">
              </div>

              <div style="width:100%;display:none;" id="settingId">
                <h4 style="padding-left:8px;color:grey;border-left:4px solid rgba(0,150,136,0.8);">Setting</h4>
                <div class="tab">
                  <button class="tablinks" onclick="openSettingTab('SettingEdit')">Update</button>
                  <button class="tablinks" onclick="openSettingTab('deleteRepo')">Delete</button>

                </div>

                <div id="SettingEdit" class="tabcontent" style="display:none;">
                  <strong>
                    <p id="updateDivAlertHeding" style="color:red;"></p>
                  </strong>
                  <input type="text" disabled="true" class="form-control" id="updateDivTextId" value=""><br>
                  <textarea class="form-control" placeholder="Description" id="updateTextAreaId"></textarea><br>
                  <select class="form-control" id="updateSelectId">
                    <option>Only me</option>
                    <option>My Friends</option>
                    <option>Public</option>
                  </select>
                  <br>


                </div>

                <div id="deleteRepo" class="tabcontent">

                  <p style="color:grey;">If you delete the Album than you can not recover in Future</p>
                  <br>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="Send()" id="saveChangesButton"
            style="display:none;">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!--Message-->
  <div id="snackbar">
    <p id="snackbarContent" style="color:#fff;">Some text some message..</p>
  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<script>
  $(document).ready(function () {
    $('.gallerys').magnificPopup({
      type: 'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });

    $('.gallerys1').magnificPopup({
      type: 'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });

    $('.gallerys2').magnificPopup({
      type: 'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });

    $('.gallerys3').magnificPopup({
      type: 'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });
  });


  //Tab 
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<script type="text/javascript" src="{%static 'js/album.js'%}"></script>

</html>