{% load static %}
<!DOCTYPE html>
<html>

<head>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="StyleSheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/customScrollBar.css'%}">
	<link rel="icon" href="{%static 'images/LetsChat_Icon.png'%}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/selection.css' %}">
	<title>LetsChat</title>
</head>

<body>

	<div class="overlayWrapper">
		<div class="overlay">

			<header id="header_Top" class="container-fluid">

				<div id="mySidenav" class="sidenav" style="position:fixed;top:0;right:0;">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<a href="/About/">About</a>
					<a href="/Contact/">Contact</a>
					<a href="#">Terms & Condition</a>
					<a href="#">Blog</a>
				</div>

				<p><span style="font-size:30px;cursor:pointer;color:#fff;" onclick="openNav()">&#9776; LetsChat</span>
				</p>



			</header>

			<!--Main Part-->
			<div class="container">
				<div class="row">


					<div class="col-lg-6 col-md-6 col-sm-12 col-12">
						<!--<h4 id="Quotes">"<span style="color:red;font-weight: bolder;">lets chat</span>" is perfect because uou are inside</h4>-->
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-12">
						<div id="landinglogin_div">
							<h4 id="brandname">SignIn</h4>
							<form action="/login/" method="POST">{% csrf_token %}
								<label>Email</label>
								<label>Password</label><br>
								<input type="Email" name="login_Email" placeholder="Email" class="form-control" required
									autofocus><br>
								<input type="password" name="password" placeholder="Password" class="form-control"
									required><br>
								<input type="submit" name="Login" class="btn-block btn" id="LoginBtn">
								<p style="color:grey;">you don't have account <a href="/signup/"
										style="text-decoration: none;">SignUp</a> Or <a href="/forgetPassword/"
										style="text-decoration: none;">Forget Password</a>
									<br>
							</form>
						</div>
					</div>



				</div>
			</div>

		</div>
	</div>
	<!-- <div id="outerCall">
<div class="container " id="callToAction">
	<div class="row" id="callToActionInner">
		<div class="col-lg-6 col-md-6 col-sm-12 col-12">
			<h5 class="callToActionMsg">Connect with whole world on one touch.<br>
			<a href="/signup/" class="btn  connectBtn">Connect</a></h5>
			<br>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-12">
			<img src="{%static 'images\callToAction.svg'%}" id="callToActionImage">
		</div>
	</div>
</div>
</div>
 -->
	<footer class="container border-top">
		<h6>LetsChat © 2020</h6>
		<p><a href="/About/">AboutUs</a> | <a href="/Contact/">ContactUS</a></p>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</html>